<a href="https://colab.research.google.com/github/surkovvv/loan_default_prediction/blob/nick/LoanDefaultPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## –ü–µ—Ä–≤–∞—è –ø–æ–¥–∑–∞–¥–∞—á–∞ –Ω–∞ 18-20.10.21
1) –†–∞–∑–æ–±—Ä–∞—Ç—å—Å—è —Å –æ—Å–Ω–æ–≤–Ω—ã–º dataset'–æ–º –∏–∑ —Ä–∞–±–æ—Ç—ã

2) –†–∞–∑–æ–±—Ä–∞—Ç—å—Å—è –∞–Ω–∞–ª–æ–≥–∏—á–Ω–æ —Å –µ—â–µ 2–º—è –¥–∞—Ç–∞—Å–µ—Ç–∞–º–∏ : UCI –∏ CS

3) –ü–æ—á–∏—Ç–∞—Ç—å —Å—Ç–∞—Ç—å—é –∏–∑ –∫—ç–≥–≥–ª–∞ –ø—Ä–æ —É—Å–ø–µ—à–Ω—ã–µ –º–æ–¥–µ–ª–∏ –≤ —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏—è—Ö - —Ç–∞–º —á–µ-—Ç–æ —Å—Ç—Ä–∞–Ω–Ω–æ–µ, –≥–æ–≤–æ—Ä—è—Ç –ø—Ä–æ —É–¥–∞—á–Ω—ã–µ –∫–æ–º–±–∏–Ω–∞—Ü–∏–∏ —Ñ–∏—á–µ–π

4) –ü–æ—Å–º–æ—Ç—Ä–µ—Ç—å –∫–∞–∫ —Ä–∞–±–æ—Ç–∞—é—Ç –Ω–∞ —ç—Ç–∏—Ö –¥–∞–Ω–Ω—ã—Ö RF, XGBoost, CatBoost, LightGMB

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter("ignore")
%matplotlib inline

sns.set(style="darkgrid")

In [ ]:
df1 = pd.read_csv("applicationdata.csv")
df1.sample(10)
pd.options.display.max_columns = None
df1.head(30)
‚Ññdf1["Reason"].nunique()

895

–ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ç–µ—Ö, –∫—Ç–æ –Ω–µ—Å–∫–æ–ª—å–∫–æ —Ä–∞–∑ –æ–±—Ä–∞—â–∞–ª—Å—è –∑–∞ –∫—Ä–µ–¥–∏—Ç–æ–º (–∫–æ–ª-–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö CustomerID –º–µ–Ω—å—à–µ –∫–æ–ª-–≤–∞ –æ–±—ä–µ–∫—Ç–æ–≤, –∑–Ω–∞—á–∏—Ç, —Ç–∞–∫–∏–µ –ª—é–¥–∏ –µ—Å—Ç—å)

# –û—Ç—Å—Ç—É–ø ‚¨á

# –ú–∏–Ω–∏-–ø–ª–∞–Ω, —á—Ç–æ –≤–æ–æ–±—â–µ –¥–µ–ª–∞–µ–º:
### 1)–û–ø—è—Ç—å –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –ø—Ä–∏–∑–Ω–∞–∫–∏ : —É –Ω–∞—Å –µ—Å—Ç—å –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏, —É –∫–æ—Ç–æ—Ä—ã—Ö —Å–æ–≤–ø–∞–¥–∞—é—Ç –ø—Ä–µ—Ñ–∏–∫—Å—ã, –¥–ª—è –Ω–∞—á–∞–ª–∞ –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –Ω–∏—Ö, –Ω–∞ –∏—Ö –ø—Ä–æ–ø—É—Å–∫–∏, –Ω–∞ –∏—Ö —Å–æ–≤–º–µ—Å—Ç–Ω—ã–µ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è(–∏–ª–∏ —Å–æ–ø–æ—Å—Ç–∞–≤–ª–µ–Ω–∏—è). –°–¥–µ–ª–∞–µ–º –≤—ã–≤–æ–¥—ã, –ø–æ—É–¥–∞–ª—è–µ–º –∏–ª–∏ —Å–∫—Ä–µ—Å—Ç–∏–º –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏(–ª—É—á—à–µ –≤—Ç–æ—Ä–æ–µ)

### 2) –ü–æ–ø—Ä–æ–±—É–µ–º —Å–¥–µ–ª–∞—Ç—å —Ç–∞–∫: —Å–Ω–∞—á–∞–ª–∞ –æ–±—É—á–∞–µ–º –º–æ–¥–µ–ª—å –Ω–∞ –Ω–µ–±–æ–ª—å—à–æ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–µ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤, —Å–º–æ—Ç—Ä–∏–º –Ω–∞ –∫–∞—á–µ—Å—Ç–≤–æ, –¥–æ–±–∞–≤–ª—è–µ–º –∫–∞–∫–∏–µ-—Ç–æ –ø—Ä–∏–∑–Ω–∞–∫–∏ (–≥—Ä—É–ø–ø–∫–∞–º–∏ –∏–ª–∏ –ø–æ –æ–¥–Ω–æ–º—É), —Å–º–æ—Ç—Ä–∏–º –Ω–∞ –∫–∞—á–µ—Å—Ç–≤–æ. –ï—Å—Ç–µ—Å—Ç–≤–µ–Ω–Ω–æ, –º—ã —Ö–æ—Ç–∏–º, —á—Ç–æ–±—ã –∫–∞—á–µ—Å—Ç–≤–æ —Ä–æ—Å–ª–æ. –ù–æ –≤ —Ç–∞–∫–æ–º –ø–æ–¥—Ö–æ–¥–µ –µ—Å—Ç—å –º–∏–Ω—É—Å - –º–æ–¥–µ–ª—å –º–æ–∂–µ—Ç –±—ã—Ç—å —Ç—è–∂–µ–ª–æ–≤–µ—Å–Ω–æ–π - –Ω–∞–ø—Ä–∏–º–µ—Ä, –ª—é–±–æ–π –∏–∑ –±—É—Å—Ç–∏–Ω–≥–æ–≤, –∏ —Ç–æ–≥–¥–∞ —ç—Ç–æ—Ç –ø—Ä–æ—Ü–µ—Å—Å –º–æ–∂–µ—Ç –∑–∞—Ç—è–Ω—É—Ç—å—Å—è –¥–æ –±–µ—Å–∫–æ–Ω–µ—á–Ω–æ—Å—Ç–∏... –†–µ—à–µ–Ω–∏–µ–º —ç—Ç–æ–π –ø—Ä–æ–±–ª–µ–º—ã –º–æ–∂–µ—Ç –±—ã—Ç—å, –Ω–∞–ø—Ä–∏–º–µ—Ä, –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ LogisticRegression

### 3) –î–ª—è –æ—Å—É—â–µ—Å—Ç–≤–ª–µ–Ω–∏—è –ø—É–Ω–∫—Ç–∞ 2, –¥–ª—è –Ω–∞—á–∞–ª–∞ –≤—ã–±–µ—Ä–µ–º —Ç–µ —Å–∞–º—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ –∏–∑–Ω–∞—á–∞–ª—å–Ω–æ —É–∂–µ –±—É–¥—É—Ç –≤ —Ç–∞–±–ª–∏—Ü–µ (—Å–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ, —ç—Ç–æ –ø–æ—á—Ç–∏ –≤—Å–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ —Å –∞–¥–µ–∫–≤–∞—Ç–Ω—ã–º–∏ –Ω–∞–∑–≤–∞–Ω–∏—è–º–∏ + —Ç–µ –ø—Ä–∏–∑–Ω–∞–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ –º—ã –ø–æ–ª—É—á–∏–º —Å 1 –ø—É–Ω–∫—Ç–∞)

### 4) –í –∫—Ä–∞–π–Ω–µ–º —Å–ª—É—á–∞–µ –ø—Ä–∏–¥–µ—Ç—Å—è –ø—Ä–∏–±–µ–≥–Ω—É—Ç—å –∫ –≥–ª—É–±–æ–∫–æ–º—É –∞–Ω–∞–ª–∏–∑—É –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ - –≤–∏–∑–∞—É–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏, –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å –Ω–∞ —Ç–∞–±–ª–∏—Ü—É –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–∏ –∏–ª–∏ –µ—â–µ —á–µ–≥–æ –º–æ—â–Ω–µ–µ.

### 5) –ö–æ–≥–¥–∞ –¥–∞–Ω–Ω—ã–µ –±—É–¥—É—Ç –≥–æ—Ç–æ–≤—ã, –º—ã –±—É–¥–µ–º –ø–æ–¥–±–∏—Ä–∞—Ç—å –≥–∏–ø–µ—Ä–ø–∞—Ä–∞–º–µ—Ç—Ä—ã –¥–ª—è –Ω–∞—à–∏—Ö –±–∞–∑–æ–≤—ã—Ö –º–æ–¥–µ–ª–µ–π —Å –ø–æ–º–æ—â—å—é –∫—Ä–æ—Å—Å-–≤–∞–ª–∏–¥–∞—Ü–∏–∏ (—á–∏—Å–ª–æ —Ñ–æ–ª–¥–æ–≤ —Ç–æ–∂–µ –±—É–¥–µ—Ç –≥–∏–ø–µ—Ä–ø–∞—Ä–∞–º–µ—Ç—Ä–æ–º)

### 6) –ï—Å–ª–∏ –≤—Å—ë –ø—Ä–æ–π–¥–µ—Ç –±–æ–ª–µ–µ-–º–µ–Ω–µ–µ –≥–ª–∞–¥–∫–æ, –º—ã –¥–æ–ª–∂–Ω—ã –≤ –∫–æ–Ω—Ü–µ –∫–æ–Ω—Ü–æ–≤ –ø–æ–±–µ–¥–∏—Ç—å ü•áü•áü•áü•áü•á

# –û—Ç—Å–ø—É–ø ‚¨Ü

In [5]:
df1.head(2)

,CustomerID,LoanType,Reason,Application.Date,Employment.Length,Employment.Sector,RequestedAmount,OfferedAmount,FundedAmount,Duration,Age,EmailDomain,Residential.Status,Sex,Marital.Status,Dependents,City,State,PostalCode,Pay.Frequency,Product,Risk.Rating,Employment.Type,Requested.Duration,ArrearsLevel,IsWrittenOff,age.of.file,age.of.subject,time.at.address,time.at.employer,defaults,total.value.of.outstanding.defaults,defaults.paid,defaults.12,time.since.last.default,credit.enquiries.1,credit.enquiries.3,credit.enquiries.6,credit.enquiries.12,credit.enquiries.60,time.since.last.enquiry,telco.and.utility.defaults,telco.and.utility.defaults.12,telco.and.utility.enquiries,telco.and.utility.enquiries.6,telco.and.utility.enquiries.12,directorships.current,directorships.previous,adverse.on.file,applicant.odds,veda.score,contributing.factors,Wages_num,Centrelink_num,SACC_num,NonSACC_num,DebtConsolidation_num,DebtCollection_num,Rent_num,Overdrawn_num,Uncategorised_Debits_num,Other_Debits_num,All_Other_Credits_num,Utilities_num,ATM_num,Gambling_num,Groceries_num,Insurance_num,Subscription_TV,Telecommunications_num,Transport_num,Dishonours_num,Tax_num,currentBalance_All,availableBalance_All,openingBalance_All,totalCredits_All,totalDebits_All,closingBalance_All,daysInNegative_All,currentBalance_CC,availableBalance_CC,openingBalance_CC,totalCredits_CC,totalDebits_CC,currentBalance_PL,availableBalance_PL,openingBalance_PL,totalCredits_PL,totalDebits_PL,currentBalance_Tran,availableBalance_Tran,openingBalance_Tran,totalCredits_Tran,totalDebits_Tran,closingBalance_Tran,daysInNegative_Tran,totalTX_All,totalCR_All,totalDR_All,totalCRvalue_All,totalDRvalue_All,maxCRvalue_All,minCRvalue_All,maxDRvalue_All,minDRvalue_All,minBalance_All,maxBalance_All,totalTX_CC,totalCR_CC,totalDR_CC,totalCRvalue_CC,totalDRvalue_CC,maxCRvalue_CC,minCRvalue_CC,maxDRvalue_CC,minDRvalue_CC,minBalance_CC,maxBalance_CC,totalCRvalue_PL,totalDRvalue_PL,maxCRvalue_PL,minCRvalue_PL,maxDRvalue_PL,minDRvalue_PL,minBalance_PL,maxBalance_PL,totalCRvalue_Tran,totalDRvalue_Tran,maxCRvalue_Tran,minCRvalue_Tran,maxDRvalue_Tran,minDRvalue_Tran,minBalance_Tran,maxBalance_Tran,EntropyText,TDatePart,EntropyDate,Salary,Rent,LoanCommitments,LivingExpenses,Wages,Centrelink,SaccLoans,NonSaccLoans,DebtConsolidation,DebtCollection,Rent1,OverdrawnFees,UncategorisedDebits,OtherDebits,AllOtherCredits,Utilities,AtmWithdrawals,Gambling,Groceries,Insurance,SubscriptionTv,Telecommunications,Transport,OnGoingSaccCount,DishounorIn90Days,Income,NonDiscretionarySpending,DiscretionarySpending,RepaymentCapacity,RepaymentFromRequested,ExcessCapacity,RepaymentsRatio,Centrelink_wages_ratio,SaccLoans_wages_ratio,NonSaccLoans_wages_ratio,DebtConsolidation_wages_ratio,DebtCollection_wages_ratio,Rent1_wages_ratio,OverdrawnFees_wages_ratio,UncategorisedDebits_wages_ratio,OtherDebits_wages_ratio,AllOtherCredits_wages_ratio,Utilities_wages_ratio,AtmWithdrawals_wages_ratio,Gambling_wages_ratio,Groceries_wages_ratio,Insurance_wages_ratio,SubscriptionTv_wages_ratio,Telecommunications_wages_ratio,Transport_wages_ratio,Wages_repaymentcapacity_ratio,Centrelink_repaymentcapacity_ratio,SaccLoans_repaymentcapacity_ratio,NonSaccLoans_repaymentcapacity_ratio,DebtConsolidation_repaymentcapacity_ratio,DebtCollection_repaymentcapacity_ratio,Rent1_repaymentcapacity_ratio,OverdrawnFees_repaymentcapacity_ratio,UncategorisedDebits_repaymentcapacity_ratio,OtherDebits_repaymentcapacity_ratio,AllOtherCredits_repaymentcapacity_ratio,Utilities_repaymentcapacity_ratio,AtmWithdrawals_repaymentcapacity_ratio,Gambling_repaymentcapacity_ratio,Groceries_repaymentcapacity_ratio,Insurance_repaymentcapacity_ratio,SubscriptionTv_repaymentcapacity_ratio,Telecommunications_repaymentcapacity_ratio,Transport_repaymentcapacity_ratio,Income_MonthlyRepayments_ratio,NonDiscretionarySpending_MonthlyRepayments_ratio,DiscretionarySpending_MonthlyRepayments_ratio,RepaymentCapacity_MonthlyRepayments_ratio,MaxCdia,Isdefault,Isapproved,Inrange,Hasjson
0,161181.0,New,"Temporary cash shortfall,Once-off product purc...",2016-11-02 09:43:26.483,More than 1 year,Customer Service & Call Center,2500.0,2500.0,2500.0,12 months,21.0,live.com.au,Rent,F,Married,0,Charmhaven,New South Wales,2263.0,Fortnightly,MACC,A5,Full time,24 months,M0,0.0,46.0,21.0,8.0,0.0,1.0,698.0,0.0,1.0,5.0,2.0,4.0,5.0,7.0,19.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,Yes,1.3,236.0,"""Individual Shopping Pattern Specific Default ...",NaN,NaN,NaN,1.0,NaN,NaN,4.0,NaN,NaN,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1574.43,1460.92,0.00,3550.10,1975.67,1574.43,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1574.43,1460.92,0.00,3550.10,1975.67,1574.43,0.0,52.0,9.0,43.0,3550.10,-1975.67,1459.55,1.0,-725.2,-1.0,1.00,1697.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3550.10,-1975.67,1459.55,1.0,-725.2,-1.0,1.00,1697.19,6.193471,D4 D4 D4 D4 D3 D3 D3 D2 D1 D1 D7 D7 D7 D6 D6 D...,2.405919,16801.0,700.0,836.0,500.0,-0.005,0.00,0.0000,30.2037,0.0,0.0,700.0,0.0,0.0000,312.2203,15.5462,0.000,0.0000,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0,-0.005,1536.0000,500.0000,-2036.005,161.71,-2197.715,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,9.4984,3.0919,-12.5904,4.0,0.0,1.0,1.0,1.0
1,47669.0,Repeat,Home improvements/goods/furniture,2016-11-03 09:24:55.323,More than 1 year,Government & Defence,5500.0,3000.0,3000.0,24 months,26.0,hotmail.com,Rent,M,Married,2,Muirhead,Victoria,810.0,Fortnightly,MACC,A3,Full time,24 months,M3,0.0,82.0,25.0,20.0,20.0,0.0,0.0,0.0,0.0,NaN,1.0,1.0,1.0,3.0,12.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No,6.3,465.0,"""Lack of Consumer Adverse Information Number o...",NaN,24.0,2.0,1.0,NaN,NaN,NaN,NaN,18.0,35.0,9.0,2.0,5.0,NaN,68.0,4.0,4.0,13.0,1.0,1.0,NaN,2817.29,2817.29,1264.57,30141.45,-28588.73,2817.29,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2817.29,2817.29,1264.57,30141.45,-28588.73,2817.29,1.0,519.0,45.0,474.0,30141.45,-28588.73,5770.36,0.0,-2340.5,-1.0,-916.77,6078.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30141.45,-28588.73,5770.36,0.0,-2340.5,-1.0,-916.77,6078.60,7.458622,D6 D6 D6 D6 D6 D6 D6 D5 D5 D5 D5 D5 D5 D5 D5 D...,2.252031,2200.0,1000.0,40.0,1000.0,3145.460,2170.89,790.1979,200.2498,0.0,0.0,1000.0,0.0,407.6374,527.9387,3994.2321,209.199,155.4629,0.0,573.8661,120.3012,188.1473,297.3398,6.3165,2.0,0.0,5316.350,1990.4477,1550.6332,1775.269,303.80,1471.469,17.1128,0.4083,0.1486,0.0376,0.0,0.0,0.188,0.0,0.0766,0.0993,0.7513,0.0393,0.0292,0.0,0.1079,0.0226,0.0353,0.0559,0.0011,1.7718,1.2228,0.4451,0.1127,0.0,0.0,0.5632,0.0,0.2296,0.2973,2.2499,0.1178,0.0875,0.0,0.3232,0.0677,0.1059,0.1674,0.0035,17.4995,6.5518,5.1041,5.8435,53.0,0.0,1.0,1.0,1.0

In [ ]:
# –≠—Ç–æ –Ω—É–∂–Ω–æ –ø–µ—Ä–µ—Ç–∞—â–∏—Ç—å –ø–æ–Ω–∏–∂–µ, –≤ —Ä–∞–∑–¥–µ–ª, –≥–¥–µ —è –±—É–¥—É —Ä–∞–∑–±–∏—Ä–∞—Ç—å—Å—è —Å —É–Ω–∏–∫–∞–ª—å–Ω—ã–º–∏ ID
vc = df1["CustomerID"].value_counts()
mask = vc > 1
val = vc[mask]
another_mask = df1["CustomerID"].isin(val.index.values)
(df1[another_mask].sort_values('CustomerID')["Isdefault"])

2497     0.0
8471     0.0
680      0.0
8405     0.0
4028     0.0
        ...
12021    0.0
9534     0.0
7644     0.0
9782     0.0
9252     0.0
Name: Isdefault, Length: 1345, dtype: float64

In [ ]:
#df1.head()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12982 entries, 0 to 12981
Columns: 214 entries, CustomerID to Hasjson
dtypes: float64(192), object(22)
memory usage: 21.2+ MB

In [ ]:
features = df1.columns.values
features.shape[0]

214

–í–∏–¥–Ω–æ, —á—Ç–æ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –æ—á–µ–Ω—å –º–Ω–æ–≥–æ, –Ω–æ –≤–æ–∑–Ω–∏–∫–∞–µ—Ç –æ—â—É—â–µ–Ω–∏–µ, —á—Ç–æ –¥–∞–ª–µ–∫–æ –Ω–µ –≤—Å–µ –∏–∑ –Ω–∏—Ö –ø–æ–ª–µ–∑–Ω—ã

In [30]:
df1 = df1.drop(index=df1[df1.isna().sum(axis=1) >= 100].index)

In [11]:
X = df1.drop("Isdefault", axis=1)
y = df1["Isdefault"]

In [12]:
y = y.iloc[:-2].astype(int)
X = X.iloc[:-2, :]

In [ ]:
for col_name in df1.columns:
    print("{} ---- {} ".format(col_name, df1[col_name].nunique()))

In [ ]:
#–º–Ω–æ–≥–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π, –ª—É—á—à–µ —É–¥–∞–ª–∏—Ç—å —Å—Ä–∞–∑—É


# –ü–ª–æ—Ö–∞—è —è—á–µ–π–∫–∞, –Ω–µ—è—Å–Ω–æ, –ø–æ—á–µ–º—É —Ç–æ–ª—å–∫–æ —ç—Ç–∏, –∞ –¥—Ä—É–≥–∏–µ –Ω–µ—Ç


# X = X.drop(columns=["CustomerID", "Application.Date", "TDatePart", "DebtCollection_num", "contributing.factors"])
# X.loc[X["time.since.last.default"].isna(), "time.since.last.default"] = 0 # —Ç—É—Ç nan —ç—Ç–æ —Å–∫–æ—Ä–µ–µ –∑–Ω–∞—á–∏—Ç, —á—Ç–æ –¥–µ—Ñ–æ–ª—Ç–∞ –Ω–µ –±—ã–ª–æ

In [ ]:
for col in X:
    print(col, X[col].isna().sum())

#### ***–í–∏–¥–Ω–æ***, —á—Ç–æ –≤—Å—è–∫–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∏, –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ—Ç–æ—Ä—ã—Ö –æ–∫–∞–Ω—á–∏–≤–∞—é—Ç—Å—è –Ω–∞ num, CC, PL, Tran –∏ ratio –∏–º–µ—é—Ç –Ω–µ–ø—Ä–∏–≤–ª–µ–∫–∞—Ç–µ–ª—å–Ω–æ –º–Ω–æ–≥–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤, –∫ —Ç–æ–º—É –∂–µ, –¥–ª—è CC, PL, Tran –ø—Ä–µ—Ñ–∏–∫—Å—ã —Å–æ–≤–ø–∞–¥–∞—é—Ç –¥–ª—è –ø—Ä–∏–∑–Ω–∞–∫–æ–≤, –æ–∫–∞–Ω—á–∏–≤–∞—é—â–∏—Ö—Å—è –Ω–∞ All, –∫–æ—Ç–æ—Ä—ã–µ –º—ã –∏ –≤–æ–∑—å–º–µ–º –≤ –Ω–∞—à—É –º–æ–¥–µ–ª—å, —É–¥–∞–ª–∏–º –∏—Ö

In [14]:
bad_features = []
for col_name in df1.columns:
    if (col_name.endswith("num") or col_name.endswith("_CC") or col_name.endswith("_PL") or 
        col_name.endswith("_Tran") or col_name.endswith("y_ratio")):
        bad_features.append(col_name)
X.drop(columns=bad_features, inplace=True)

## –ú–æ–µ –ø—Ä–µ–¥–ø–æ–ª–æ–∂–µ–Ω–∏–µ, —á—Ç–æ –æ—Ç –∞–¥—Ä–µ—Å–∞ —ç–ª–µ–∫—Ç—Ä–æ–Ω–Ω–æ–π –ø–æ—á—Ç—ã, postal code –∏ applycationDate —Ç–∞—Ä–≥–µ—Ç —Å–ª–∞–±–æ –∑–∞–≤–∏—Å–∏—Ç, –º–æ–∂–Ω–æ –∏—Ö –¥—Ä–æ–ø–Ω—É—Ç—å(—Å–¥–µ–ª–∞–µ–º –∏–∑ –¥–∞—Ç—ã 2 –Ω–æ–≤—ã—Ö —Å—Ç–æ–ª–±—Ü–∞ - –≥–æ–¥ –∏ –º–µ—Å—è—Ü), –∞ —Ç–∞–∫ –∂–µ —É–¥–∞–ª–∏–º –ø—Ä–∏–∑–Ω–∞–∫–∏, —Å–ø–æ—Å–æ–±—Å—Ç–≤—É—é—â–∏—Ö –ø–µ—Ä–µ–æ–±—É—á–µ–Ω–∏—é (–ø–æ –∑–∞—è–≤–ª–µ–Ω–∏—é –∞–≤—Ç–æ—Ä–∞ —Å—Ç–∞—Ç—å–∏) IsWrittenOff, MaxCdia, –∞ —Ç–∞–∫ –∂–µ –ø–æ—Å–ª–µ–¥–Ω–∏–µ —Ç—Ä–∏ –ø—Ä–∏–∑–Ω–∞–∫–∞ - —É –Ω–∏—Ö –≤—Å–µ–≥–æ 1 —É–Ω–∏–∫–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ, —ç—Ç–æ –Ω–∏ –æ —á–µ–º –Ω–µ —Å–∫–∞–∂–µ—Ç –Ω–∞—à–µ–π –º–æ–¥–µ–ª–∏

## –í—Ç–æ—Ä–æ–µ –∑–∞–º–µ—á–∞–Ω–∏–µ - —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö ID –≤—Å–µ–≥–æ 12300, –Ω–∞–¥–æ —Å –Ω–∏–º–∏ —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è..

In [25]:
X.drop(columns=["PostalCode", "IsWrittenOff", "MaxCdia", "Isapproved", "Inrange", "Hasjson"], inplace=True)

–ü–æ—Å–º–æ—Ç—Ä–∏–º –ø—Ä–∏—Å—Ç–∞–ª—å–Ω–æ –Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ:

In [27]:
for col in X.select_dtypes(include='object').columns.values:
    print(col, X[col].isna().sum(), X[col].nunique())
# –£–¥–∞–ª–∏–º contributing.factors, TDatePart, ApplicationDate —Ä–∞–∑–æ–±—å–µ–º –Ω–∞ –≥–æ–¥ –∏ –º–µ—Å—è—Ü
X.drop(columns=["contributing.factors", "TDatePart"], inplace=True)

LoanType 0 2
Reason 0 895
Application.Date 0 12978
Employment.Length 47 3
Employment.Sector 57 26
Duration 0 34
EmailDomain 0 557
Residential.Status 7 3
Sex 0 2
Marital.Status 136 3
Dependents 136 4
City 2 4181
State 0 9
Pay.Frequency 0 3
Product 0 2
Risk.Rating 0 7
Employment.Type 0 5
Requested.Duration 0 39
ArrearsLevel 5899 4
adverse.on.file 157 4
contributing.factors 157 517
TDatePart 0 12976

### –í—ã—É–¥–∏–º –∏–∑ –¥–∞—Ç—ã –≥–æ–¥ –∏ –º–µ—Å—è—Ü, –∏–∑ –ø—Ä–∏—á–∏–Ω, –≥–æ—Ä–æ–¥–∞, –µ–º–µ–∏–ª–∞ - —Å–∞–º—ã–µ –ø–æ–ø—É–ª—è—Ä–Ω—ã–µ

In [29]:
for col in X.select_dtypes(include='number').columns.values:
    print(col, X[col].isna().sum(), X[col].nunique())

CustomerID 0 12300
RequestedAmount 0 95
OfferedAmount 0 86
FundedAmount 0 87
Age 0 48
age.of.file 157 2690
age.of.subject 157 2618
time.at.address 157 1758
time.at.employer 1114 908
defaults 157 3
total.value.of.outstanding.defaults 2984 259
defaults.paid 157 3
defaults.12 157 3
time.since.last.default 12369 128
credit.enquiries.1 157 9
credit.enquiries.3 157 17
credit.enquiries.6 157 21
credit.enquiries.12 157 28
credit.enquiries.60 157 50
time.since.last.enquiry 681 902
telco.and.utility.defaults 157 3
telco.and.utility.defaults.12 157 3
telco.and.utility.enquiries 157 12
telco.and.utility.enquiries.6 157 5
telco.and.utility.enquiries.12 157 6
directorships.current 157 7
directorships.previous 157 8
applicant.odds 157 936
veda.score 112 684
Subscription_TV 9857 19
currentBalance_All 5 12681
availableBalance_All 5 11153
openingBalance_All 5 12541
totalCredits_All 5 12942
totalDebits_All 5 12954
closingBalance_All 5 12691
daysInNegative_All 5 271
totalTX_All 10 973
totalCR_All 10 354
totalDR_All 10 786
totalCRvalue_All 10 12942
totalDRvalue_All 10 12949
maxCRvalue_All 10 9268
minCRvalue_All 10 1210
maxDRvalue_All 10 3930
minDRvalue_All 10 353
minBalance_All 10 11584
maxBalance_All 10 12749
EntropyText 0 12978
EntropyDate 0 12975
Salary 0 2249
Rent 0 792
LoanCommitments 0 865
LivingExpenses 0 333
Wages 0 11492
Centrelink 0 2447
SaccLoans 0 4576
NonSaccLoans 0 6102
DebtConsolidation 0 714
DebtCollection 0 214
Rent1 0 2632
OverdrawnFees 0 805
UncategorisedDebits 0 3598
OtherDebits 0 6572
AllOtherCredits 0 12158
Utilities 0 3871
AtmWithdrawals 0 7970
Gambling 0 2293
Groceries 0 6874
Insurance 0 2746
SubscriptionTv 0 1042
Telecommunications 0 4383
Transport 0 3117
OnGoingSaccCount 0 8
DishounorIn90Days 0 15
Income 0 11254
NonDiscretionarySpending 0 10501
DiscretionarySpending 0 10395
RepaymentCapacity 0 12876
RepaymentFromRequested 0 7212
ExcessCapacity 0 12892
RepaymentsRatio 0 10137
Centrelink_wages_ratio 980 1774
SaccLoans_wages_ratio 980 2633
NonSaccLoans_wages_ratio 980 3062
DebtConsolidation_wages_ratio 980 645
DebtCollection_wages_ratio 980 240
Rent1_wages_ratio 980 4446
OverdrawnFees_wages_ratio 980 445
UncategorisedDebits_wages_ratio 980 2087
OtherDebits_wages_ratio 980 2939
AllOtherCredits_wages_ratio 980 8863
Utilities_wages_ratio 980 1256
AtmWithdrawals_wages_ratio 980 3902
Gambling_wages_ratio 980 1089
Groceries_wages_ratio 980 2024
Insurance_wages_ratio 980 1002
SubscriptionTv_wages_ratio 980 500
Telecommunications_wages_ratio 980 1452
Transport_wages_ratio 980 576
Income_MonthlyRepayments_ratio 106 11652
NonDiscretionarySpending_MonthlyRepayments_ratio 106 11860
DiscretionarySpending_MonthlyRepayments_ratio 106 11614
RepaymentCapacity_MonthlyRepayments_ratio 106 12462

## –ò—Ç–æ–≥–∏: 

### –ú–∏—à–∞ –Ω–∞–ø–∏—Å–∞–ª –≤—ã—à–µ —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è Reason, —è –æ—Ç–æ–±—Ä–∞–ª –ø–æ—á—Ç–∏ –≤—Å–µ –Ω—É–∂–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã, –æ—Å—Ç–∞–ª–æ—Å—å —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è —Å –¥—É–±–ª–∏–∫–∞—Ç–∞–º–∏ –≤ ID, –¥–æ–¥–µ–ª–∞—Ç—å —Ñ—É–Ω–∫—Ü–∏–∏ –¥–ª—è —ç–Ω–∫–æ–¥–∏–Ω–≥–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤, –ø—Ä–∏–¥—É–º–∞—Ç—å —á—Ç–æ –¥–µ–ª–∞—Ç—å —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏

In [ ]:
columns_to_delete = []
columns_to_average = []
for col in X.columns:
    tmp = X[col].isna()
    #print(tmp.value_counts().index.values)
    if len(tmp.value_counts().index.values) == 2 or True in tmp.value_counts().index.values:
        #print(tmp.value_counts().loc[False])
        print(col, ":", tmp.value_counts().loc[True], "/", X.shape[0], tmp.value_counts().loc[True] / X.shape[0], end=", ")
        if  tmp.value_counts().loc[True] / X.shape[0] > 0.05:
            print("=> to delete")
            columns_to_delete.append(col)
        else:
            print("=> to average")
            columns_to_average.append(col)

Employment.Length : 47 / 12980 0.00362095531587057, => to average
Employment.Sector : 57 / 12980 0.004391371340523883, => to average
Residential.Status : 7 / 12980 0.0005392912172573189, => to average
Marital.Status : 136 / 12980 0.010477657935285054, => to average
Dependents : 136 / 12980 0.010477657935285054, => to average
City : 2 / 12980 0.00015408320493066256, => to average
ArrearsLevel : 5899 / 12980 0.45446841294298923, => to delete
age.of.file : 157 / 12980 0.01209553158705701, => to average
age.of.subject : 157 / 12980 0.01209553158705701, => to average
time.at.address : 157 / 12980 0.01209553158705701, => to average
time.at.employer : 1114 / 12980 0.08582434514637904, => to delete
defaults : 157 / 12980 0.01209553158705701, => to average
total.value.of.outstanding.defaults : 2984 / 12980 0.22989214175654854, => to delete
defaults.paid : 157 / 12980 0.01209553158705701, => to average
defaults.12 : 157 / 12980 0.01209553158705701, => to average
credit.enquiries.1 : 157 / 12980 0.01209553158705701, => to average
credit.enquiries.3 : 157 / 12980 0.01209553158705701, => to average
credit.enquiries.6 : 157 / 12980 0.01209553158705701, => to average
credit.enquiries.12 : 157 / 12980 0.01209553158705701, => to average
credit.enquiries.60 : 157 / 12980 0.01209553158705701, => to average
time.since.last.enquiry : 681 / 12980 0.0524653312788906, => to delete
telco.and.utility.defaults : 157 / 12980 0.01209553158705701, => to average
telco.and.utility.defaults.12 : 157 / 12980 0.01209553158705701, => to average
telco.and.utility.enquiries : 157 / 12980 0.01209553158705701, => to average
telco.and.utility.enquiries.6 : 157 / 12980 0.01209553158705701, => to average
telco.and.utility.enquiries.12 : 157 / 12980 0.01209553158705701, => to average
directorships.current : 157 / 12980 0.01209553158705701, => to average
directorships.previous : 157 / 12980 0.01209553158705701, => to average
adverse.on.file : 157 / 12980 0.01209553158705701, => to average
applicant.odds : 157 / 12980 0.01209553158705701, => to average
veda.score : 112 / 12980 0.008628659476117103, => to average
Wages_num : 12980 / 12980 1.0, => to delete
Centrelink_num : 9357 / 12980 0.7208782742681048, => to delete
SACC_num : 6183 / 12980 0.4763482280431433, => to delete
NonSACC_num : 4688 / 12980 0.36117103235747305, => to delete
DebtConsolidation_num : 11913 / 12980 0.9177966101694915, => to delete
Rent_num : 7698 / 12980 0.5930662557781202, => to delete
Overdrawn_num : 6520 / 12980 0.50231124807396, => to delete
Uncategorised_Debits_num : 8008 / 12980 0.6169491525423729, => to delete
Other_Debits_num : 4361 / 12980 0.3359784283513097, => to delete
All_Other_Credits_num : 251 / 12980 0.01933744221879815, => to average
Utilities_num : 7411 / 12980 0.5709553158705701, => to delete
ATM_num : 299 / 12980 0.023035439137134052, => to average
Gambling_num : 8669 / 12980 0.6678736517719569, => to delete
Groceries_num : 5760 / 12980 0.4437596302003082, => to delete
Insurance_num : 9285 / 12980 0.7153312788906009, => to delete
Subscription_TV : 9857 / 12980 0.7593990755007705, => to delete
Telecommunications_num : 6497 / 12980 0.5005392912172573, => to delete
Transport_num : 9237 / 12980 0.711633281972265, => to delete
Dishonours_num : 7803 / 12980 0.60115562403698, => to delete
Tax_num : 11541 / 12980 0.8891371340523883, => to delete
currentBalance_All : 5 / 12980 0.0003852080123266564, => to average
availableBalance_All : 5 / 12980 0.0003852080123266564, => to average
openingBalance_All : 5 / 12980 0.0003852080123266564, => to average
totalCredits_All : 5 / 12980 0.0003852080123266564, => to average
totalDebits_All : 5 / 12980 0.0003852080123266564, => to average
closingBalance_All : 5 / 12980 0.0003852080123266564, => to average
daysInNegative_All : 5 / 12980 0.0003852080123266564, => to average
currentBalance_CC : 8376 / 12980 0.6453004622496148, => to delete
availableBalance_CC : 8376 / 12980 0.6453004622496148, => to delete
openingBalance_CC : 8376 / 12980 0.6453004622496148, => to delete
totalCredits_CC : 8376 / 12980 0.6453004622496148, => to delete
totalDebits_CC : 8376 / 12980 0.6453004622496148, => to delete
currentBalance_PL : 10394 / 12980 0.8007704160246533, => to delete
availableBalance_PL : 10394 / 12980 0.8007704160246533, => to delete
openingBalance_PL : 10394 / 12980 0.8007704160246533, => to delete
totalCredits_PL : 10394 / 12980 0.8007704160246533, => to delete
totalDebits_PL : 10394 / 12980 0.8007704160246533, => to delete
currentBalance_Tran : 760 / 12980 0.05855161787365177, => to delete
availableBalance_Tran : 760 / 12980 0.05855161787365177, => to delete
openingBalance_Tran : 760 / 12980 0.05855161787365177, => to delete
totalCredits_Tran : 760 / 12980 0.05855161787365177, => to delete
totalDebits_Tran : 760 / 12980 0.05855161787365177, => to delete
closingBalance_Tran : 760 / 12980 0.05855161787365177, => to delete
daysInNegative_Tran : 760 / 12980 0.05855161787365177, => to delete
totalTX_All : 10 / 12980 0.0007704160246533128, => to average
totalCR_All : 10 / 12980 0.0007704160246533128, => to average
totalDR_All : 10 / 12980 0.0007704160246533128, => to average
totalCRvalue_All : 10 / 12980 0.0007704160246533128, => to average
totalDRvalue_All : 10 / 12980 0.0007704160246533128, => to average
maxCRvalue_All : 10 / 12980 0.0007704160246533128, => to average
minCRvalue_All : 10 / 12980 0.0007704160246533128, => to average
maxDRvalue_All : 10 / 12980 0.0007704160246533128, => to average
minDRvalue_All : 10 / 12980 0.0007704160246533128, => to average
minBalance_All : 10 / 12980 0.0007704160246533128, => to average
maxBalance_All : 10 / 12980 0.0007704160246533128, => to average
totalTX_CC : 8543 / 12980 0.6581664098613251, => to delete
totalCR_CC : 8543 / 12980 0.6581664098613251, => to delete
totalDR_CC : 8543 / 12980 0.6581664098613251, => to delete
totalCRvalue_CC : 8543 / 12980 0.6581664098613251, => to delete
totalDRvalue_CC : 8543 / 12980 0.6581664098613251, => to delete
maxCRvalue_CC : 8543 / 12980 0.6581664098613251, => to delete
minCRvalue_CC : 8543 / 12980 0.6581664098613251, => to delete
maxDRvalue_CC : 8543 / 12980 0.6581664098613251, => to delete
minDRvalue_CC : 8543 / 12980 0.6581664098613251, => to delete
minBalance_CC : 8543 / 12980 0.6581664098613251, => to delete
maxBalance_CC : 8543 / 12980 0.6581664098613251, => to delete
totalCRvalue_PL : 10415 / 12980 0.8023882896764253, => to delete
totalDRvalue_PL : 10415 / 12980 0.8023882896764253, => to delete
maxCRvalue_PL : 10415 / 12980 0.8023882896764253, => to delete
minCRvalue_PL : 10415 / 12980 0.8023882896764253, => to delete
maxDRvalue_PL : 10415 / 12980 0.8023882896764253, => to delete
minDRvalue_PL : 10415 / 12980 0.8023882896764253, => to delete
minBalance_PL : 10415 / 12980 0.8023882896764253, => to delete
maxBalance_PL : 10415 / 12980 0.8023882896764253, => to delete
totalCRvalue_Tran : 916 / 12980 0.07057010785824346, => to delete
totalDRvalue_Tran : 916 / 12980 0.07057010785824346, => to delete
maxCRvalue_Tran : 916 / 12980 0.07057010785824346, => to delete
minCRvalue_Tran : 916 / 12980 0.07057010785824346, => to delete
maxDRvalue_Tran : 916 / 12980 0.07057010785824346, => to delete
minDRvalue_Tran : 916 / 12980 0.07057010785824346, => to delete
minBalance_Tran : 916 / 12980 0.07057010785824346, => to delete
maxBalance_Tran : 916 / 12980 0.07057010785824346, => to delete
Centrelink_wages_ratio : 980 / 12980 0.07550077041602465, => to delete
SaccLoans_wages_ratio : 980 / 12980 0.07550077041602465, => to delete
NonSaccLoans_wages_ratio : 980 / 12980 0.07550077041602465, => to delete
DebtConsolidation_wages_ratio : 980 / 12980 0.07550077041602465, => to delete
DebtCollection_wages_ratio : 980 / 12980 0.07550077041602465, => to delete
Rent1_wages_ratio : 980 / 12980 0.07550077041602465, => to delete
OverdrawnFees_wages_ratio : 980 / 12980 0.07550077041602465, => to delete
UncategorisedDebits_wages_ratio : 980 / 12980 0.07550077041602465, => to delete
OtherDebits_wages_ratio : 980 / 12980 0.07550077041602465, => to delete
AllOtherCredits_wages_ratio : 980 / 12980 0.07550077041602465, => to delete
Utilities_wages_ratio : 980 / 12980 0.07550077041602465, => to delete
AtmWithdrawals_wages_ratio : 980 / 12980 0.07550077041602465, => to delete
Gambling_wages_ratio : 980 / 12980 0.07550077041602465, => to delete
Groceries_wages_ratio : 980 / 12980 0.07550077041602465, => to delete
Insurance_wages_ratio : 980 / 12980 0.07550077041602465, => to delete
SubscriptionTv_wages_ratio : 980 / 12980 0.07550077041602465, => to delete
Telecommunications_wages_ratio : 980 / 12980 0.07550077041602465, => to delete
Transport_wages_ratio : 980 / 12980 0.07550077041602465, => to delete
Wages_repaymentcapacity_ratio : 2420 / 12980 0.1864406779661017, => to delete
Centrelink_repaymentcapacity_ratio : 2420 / 12980 0.1864406779661017, => to delete
SaccLoans_repaymentcapacity_ratio : 2420 / 12980 0.1864406779661017, => to delete
NonSaccLoans_repaymentcapacity_ratio : 2420 / 12980 0.1864406779661017, => to delete
DebtConsolidation_repaymentcapacity_ratio : 2420 / 12980 0.1864406779661017, => to delete
DebtCollection_repaymentcapacity_ratio : 2420 / 12980 0.1864406779661017, => to delete
Rent1_repaymentcapacity_ratio : 2420 / 12980 0.1864406779661017, => to delete
OverdrawnFees_repaymentcapacity_ratio : 2420 / 12980 0.1864406779661017, => to delete
UncategorisedDebits_repaymentcapacity_ratio : 2420 / 12980 0.1864406779661017, => to delete
OtherDebits_repaymentcapacity_ratio : 2420 / 12980 0.1864406779661017, => to delete
AllOtherCredits_repaymentcapacity_ratio : 2420 / 12980 0.1864406779661017, => to delete
Utilities_repaymentcapacity_ratio : 2420 / 12980 0.1864406779661017, => to delete
AtmWithdrawals_repaymentcapacity_ratio : 2420 / 12980 0.1864406779661017, => to delete
Gambling_repaymentcapacity_ratio : 2420 / 12980 0.1864406779661017, => to delete
Groceries_repaymentcapacity_ratio : 2420 / 12980 0.1864406779661017, => to delete
Insurance_repaymentcapacity_ratio : 2420 / 12980 0.1864406779661017, => to delete
SubscriptionTv_repaymentcapacity_ratio : 2420 / 12980 0.1864406779661017, => to delete
Telecommunications_repaymentcapacity_ratio : 2420 / 12980 0.1864406779661017, => to delete
Transport_repaymentcapacity_ratio : 2420 / 12980 0.1864406779661017, => to delete
Income_MonthlyRepayments_ratio : 106 / 12980 0.008166409861325115, => to average
NonDiscretionarySpending_MonthlyRepayments_ratio : 106 / 12980 0.008166409861325115, => to average
DiscretionarySpending_MonthlyRepayments_ratio : 106 / 12980 0.008166409861325115, => to average
RepaymentCapacity_MonthlyRepayments_ratio : 106 / 12980 0.008166409861325115, => to average

In [ ]:
X["Reason"] = X["Reason"].apply(lambda x : x.replace(",", " ").split()[0])

–ë—ã–ª–æ –±—ã –Ω–µ–ø–ª–æ—Ö–æ –ø—Ä–∏–¥—É–º–∞—Ç—å, –∫–∞–∫ –∑–∞–±–∏—Ç—å —Å—Ç–æ–ª—å–∫–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤

–Ø—Å–Ω–æ, —á—Ç–æ –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –º–æ–¥–µ–ª–∏ —Ö–æ—Ä–æ—à–æ —Ä–∞–±–æ—Ç–∞—é—Ç –∏ —Å –Ω–∏–º–∏, –Ω–æ —Ç–æ—Ç –∂–µ logres –Ω–µ —Å–ø—Ä–∞–≤–ª—è–µ—Ç—Å—è - –≤—ã–¥–∞–µ—Ç –æ—à–∏–±–∫—É –¥–∞–ª–µ–µ... –µ–≥–æ –º–æ–∂–Ω–æ –≤–æ–æ–±—â–µ –Ω–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å - —á—Ç–æ–±—ã –Ω–µ –º—É—á–∞—Ç—å—Å—è, –Ω–æ –º–æ–∂–Ω–æ –∏ –ø–æ–¥—É–º–∞—Ç—å –Ω–∞–¥ —ç—Ç–∏–º

–ú–æ–µ —Ä–µ—à–µ–Ω–∏–µ - –µ—Å–ª–∏ —ç—Ç–æ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π –ø—Ä–∏–∑–Ω–∞–∫ - –∑–∞–º–µ–Ω–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ —Å–∞–º—ã–º —á–∞—Å—Ç—ã–º –∫–ª–∞—Å—Å–æ–º

–ï—Å–ª–∏ —á–∏—Å–ª–æ–≤–æ–π - —Ç–æ –º–æ–∂–Ω–æ –¥–ª—è –Ω–∞—á–∞–ª–∞ –∑–∞–º–µ–Ω–∏—Ç—å —Å—Ä–µ–¥–Ω–∏–º–∏ —Å —à—É–º–æ–º

–ù–æ –¥–ª—è –Ω–∞—á–∞–ª–∞ —É–¥–∞–ª–∏–º —Å–ª–∏—à–∫–æ–º –ø–ª–æ—Ö–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ - —É –Ω–∏—Ö –±—É–¥–µ—Ç –±–æ–ª—å—à–µ 5 % –ø—É—Å—Ç–æ—Ç

## –°–¥–µ–ª–∞–Ω–æ

In [ ]:
X.head()

   Reason  RequestedAmount  ...  adverse.on.file_Y  adverse.on.file_Yes
0      29        -0.991067  ...                  0                    1
1      12         0.128265  ...                  0                    0
2      20         0.426753  ...                  0                    0
3       6         1.807262  ...                  0                    0
4      12        -0.244846  ...                  0                    0

[5 rows x 165 columns]

In [ ]:
X = X.drop(columns=columns_to_delete)
for column in columns_to_average:
    if column in X.select_dtypes(include='number').columns.values:
        col_mean = X[column].mean()
        X[column][X[column].isna()] = col_mean * np.ones(X[column][X[column].isna()].index.values.shape[0])
    elif column in X.select_dtypes(include='object').columns.values:
        col_mode = X[column].mode().values
        X[column][X[column].isna()] = [col_mode for _ in range(X[column].isna().index.values.shape[0])]

__–ò—Ç–æ–≥–æ:__ –í—ã–¥–µ–ª–∏–ª–∏ –æ—Ç–¥–µ–ª—å–Ω–æ —Ç–∞—Ä–≥–µ—Ç –∏ –¥–∞—Ç—É, Reason'–æ–≤ –æ–∫–æ–ª–æ 900, –Ω–∏–∫–∞–∫–æ–≥–æ OHE –Ω–∞ –Ω–µ–≥–æ –≤–µ—à–∞—Ç—å –Ω–µ —Å—Ç–æ–∏—Ç, –º–æ–∂–µ—Ç –±—ã—Ç—å —Å—Ç–æ–∏—Ç —É–¥–∞–ª–∏—Ç—å –∫–æ–ª–æ–Ω–∫—É —Å Id, loanType —è–≤–Ω–æ –º–æ–∂–µ—Ç —Å–∫–∞–∑–∞—Ç—å —á—Ç–æ-—Ç–æ –ø–æ–ª–µ–∑–Ω–æ–µ, –¥–∞—Ç—É —Ç–æ–∂–µ –º–æ–∂–Ω–æ –æ—Å—Ç–∞–≤–∏—Ç—å, –Ω–æ –ø–µ—Ä–µ–¥–µ–ª–∞—Ç—å –µ–µ –≤ pd.datetime, emp.len –ø–µ—Ä–µ–∫–æ–¥–∏—Ä—É–µ–º labelEncoder'–æ–º, Emp.Sec –º–æ–∂–Ω–æ OHE, duration —Ç–æ–∂–µ label, –∏–ª–∏ –ø—Ä–æ—Å—Ç–æ —Å—Ä–µ–∑–∞—Ç—å –º–µ—Å—è—Ü—ã(–ø–æ –ø–µ—Ä–≤—ã–º 2–º —Å–∏–º–≤–æ–ª–∞–º —Å—Ç—Ä–æ–∫–∏)

In [ ]:
pip install lightgbm

In [ ]:
pip install catboost

In [ ]:
pip install xgboost

In [ ]:
pip install -U KTBoost

In [ ]:
from lightgbm import LGBMClassifier
from sklearn.model_selection import train_test_split, RepeatedStratifiedKFold, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier, BaggingClassifier, GradientBoostingClassifier, RandomForestClassifier
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.metrics import precision_recall_curve, classification_report, accuracy_score
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from catboost import CatBoostClassifier
import xgboost as xgb
import KTBoost.KTBoost as KTBoost

In [ ]:
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=66)
numeric_features = X.select_dtypes(include='number').columns
categorical_features = X.select_dtypes(include='object').columns
ohe_categorical = []
indicies = []
for i, cat in enumerate(categorical_features):
    if (X[cat].nunique() < 30):
        ohe_categorical.append(cat)
        indicies.append(i)
categorical_features = np.delete(categorical_features.values, indicies)
print(categorical_features)
print(ohe_categorical)

scaler = StandardScaler()
encoder = LabelEncoder()

ohe_cat_df = pd.get_dummies(X[ohe_categorical])
X = X.drop(columns=ohe_categorical)
for column in categorical_features:
    X[column] = encoder.fit_transform(X[column])
X[numeric_features] = scaler.fit_transform(X[numeric_features])
X = X.join(ohe_cat_df)
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75, random_state=66, stratify=y)

['Reason' 'Duration' 'EmailDomain' 'City' 'Requested.Duration']
['LoanType', 'Employment.Length', 'Employment.Sector', 'Residential.Status', 'Sex', 'Marital.Status', 'Dependents', 'State', 'Pay.Frequency', 'Product', 'Risk.Rating', 'Employment.Type', 'adverse.on.file']

In [ ]:
X.head()

   Reason  RequestedAmount  ...  adverse.on.file_Y  adverse.on.file_Yes
0      29        -0.991067  ...                  0                    1
1      12         0.128265  ...                  0                    0
2      20         0.426753  ...                  0                    0
3       6         1.807262  ...                  0                    0
4      12        -0.244846  ...                  0                    0

[5 rows x 165 columns]

In [ ]:
logres = LogisticRegression()
#logres_pipeline = Pipeline([
#    ('transforming', col_transformer),
#    ('LogisticRegression', logres)
#])
logres.fit(X_train, y_train)
y_pred1 = logres.predict(X_test)
#print("Accuracy on LogisticRegression=", accuracy_score(y_test, y_pred1))
print(classification_report(y_test, y_pred1))

              precision    recall  f1-score   support

           0       0.83      0.99      0.90      2673
           1       0.41      0.03      0.06       572

    accuracy                           0.82      3245
   macro avg       0.62      0.51      0.48      3245
weighted avg       0.75      0.82      0.75      3245

In [ ]:
model = KTBoost.BoostingClassifier(loss='deviance',base_learner='combined',
                                    update_step='newton',theta=1)
model.fit(X_train, y_train)
y_pred_grabit = model.predict(X_test)
print(classification_report(y_test, y_pred_grabit))

TypeError: ignored

In [ ]:
model = KTBoost.BoostingClassifier(loss='deviance',update_step='gradient')
model.fit(X_train, y_train)
y_pred_g = model.predict(X_test)
print(classification_report(y_test, y_pred_g))

In [ ]:
AdaBoost = AdaBoostClassifier(n_estimators=100, random_state=66)
AdaBoost.fit(X_train, y_train)
y_pred2 = AdaBoost.predict(X_test)
#print("Accuracy on AdaBoost Classifier=", accuracy_score(y_test, y_pred2))
print(classification_report(y_test, y_pred2))

In [ ]:
GradBoost = GradientBoostingClassifier(n_estimators=100, random_state=66)
GradBoost.fit(X_train, y_train)
y_pred3 = GradBoost.predict(X_test)
#print("Accuracy on Bradient Boosting Classifier=", accuracy_score(y_test, y_pred3))
print(classification_report(y_test, y_pred3))

In [ ]:
lgbm = LGBMClassifier()
lgbm.fit(X_train, y_train)
y_pred4 = lgbm.predict(X_test)
print("Accuracy on LGBM Classifier=", accuracy_score(y_test, y_pred4))
#print('Accuracy: %.3f (%.3f)' % (np.mean(n_scores), np.std(n_scores)))

LGBM_GetLastError().decode('utf-8') - –ø–æ–ø—Ä–æ–±—É–π –¥–µ–∫–æ–¥–∏—Ä–æ–≤–∞—Ç—å –ø–æ –≤—Å–µ–º —Å—Ç–æ–ª–±—Ü–∞–º –∏ –≤—ã—è–≤–∏—Ç—å –ø–ª–æ—Ö–æ–π - –∏ –ø–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞—Ç—å - –ø–æ—á–µ–º—É —Ç–æ –Ω–µ —Ä–∞–±–æ—Ç–∞–µ—Ç

In [ ]:
catBoost = CatBoostClassifier()
catBoost.fit(X_train,y_train,verbose=False)#, plot=True)
y_pred5 = catBoost.predict(X_test)
print("Accuracy on CatBoost Classifier=", accuracy_score(y_test, y_pred5))
#catBoost.score(X_test, y_test)
# —Ç—É—Ç –ø–æ—Ö–æ–¥—É –º–æ–∂–Ω–æ –ø—Ä–æ—Å—Ç–æ –∑–∞–ø–∏—Ö–∞—Ç—å df –∏–∑–Ω–∞—á–∞–ª—å–Ω—ã–π –∏ –≤—Å–µ —Å–∫—É—à–∞–µ—Ç

In [ ]:
# –Ω–µ–±–æ–ª—å—à–æ–π —ç–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç —Å catboost'–æ–º : –ø–æ–ø—Ä–æ–±—É—é –∑–∞–ø–∏—Ö–∞—Ç—å —Ç—É–¥–∞ –Ω–µ–æ–±—Ä–∞–±–æ—Ç–∞–Ω–Ω—ã–π –¥–∞—Ç–∞—Å–µ—Ç
model_params = {
    'iterations': 500, 
    'loss_function': 'Logloss', 
    'train_dir': 'crossentropy',
    'allow_writing_files': False,
    'random_seed': 66,
}

cat_clf = CatBoostClassifier(**model_params)

X_ = df1.drop("Isdefault", axis=1)
y_ = df1["Isdefault"]
y_ = y.iloc[:-2].astype(int)
X_ = X.iloc[:-2, :]

X_train_, X_test_, y_train_, y_test_ = train_test_split(X_, y_, train_size=0.8, random_state=66)
cat_clf.fit(X_train_, y_train_)
y_pred_ = cat_clf.predict(X_test_)
print("Accuracy score on raw data with CatBoost Classifier:", accuracy_score(y_test_, y_pred_))
print("–ö–∞–∫ –≤–∏–¥–Ω–æ, —Ç–æ—á–Ω–æ—Å—Ç—å –≤—Å—ë —Ç–∞–∫–∏ –Ω–∏–∂–µ, —á–µ–º –Ω–∞ –æ–±—Ä–∞–±–æ—Ç–∞–Ω–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö => –º—ã —Å–¥–µ–ª–∞–ª–∏ –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫—É –¥–∞–Ω–Ω—ã—Ö –Ω–µ–ø–ª–æ—Ö–æ")

In [ ]:
xg_cl = xgb.XGBClassifier(colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)
xg_cl.fit(X_train,y_train)

y_pred6 = xg_cl.predict(X_test)
#print("Accuracy on XGBoost Classifier=", accuracy_score(y_test, y_pred6))
print(classification_report(y_test, y_pred6))

In [ ]:
rf_cl = RandomForestClassifier()
rf_cl.fit(X_train,y_train)

y_pred7 = rf_cl.predict(X_test)
#print("Accuracy on RandomForest Classifier=", accuracy_score(y_test, y_pred7))
print(classification_report(y_test, y_pred7))

# –ê–±—Å—Ç—Ä–∞–≥–∏—Ä–æ–≤–∞–Ω–∏–µ –æ—Ç –¥–∞–Ω–Ω–æ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç–∞

In [ ]:
data = pd.read_csv('UCI_Credit_Card.csv')
data.head()

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0    2  ...       0.0       0.0                           1
1   2   120000.0    2  ...       0.0    2000.0                           1
2   3    90000.0    2  ...    1000.0    5000.0                           0
3   4    50000.0    2  ...    1069.0    1000.0                           0
4   5    50000.0    1  ...     689.0     679.0                           0

[5 rows x 25 columns]

In [ ]:
data.drop(columns=['ID'], inplace=True)

In [ ]:
data.head()

   LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0    20000.0    2          2  ...       0.0       0.0                           1
1   120000.0    2          2  ...       0.0    2000.0                           1
2    90000.0    2          2  ...    1000.0    5000.0                           0
3    50000.0    2          2  ...    1069.0    1000.0                           0
4    50000.0    1          2  ...     689.0     679.0                           0

[5 rows x 24 columns]

In [ ]:
# —Ö—Ä–µ–Ω–æ–≤—ã–π –¥–∞—Ç–∞—Å–µ—Ç, –æ—á –º–∞–ª–æ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

In [ ]:
df = pd.read_csv("train_v2.csv")
df.head()

   id   f1  f2        f3    f4  f5  ...    f774    f775  f776  f777  f778  loss
0   1  126  10  0.686842  1100   3  ...  0.1833  0.7873     1     0     5     0
1   2  121  10  0.782776  1100   3  ...  0.1926 -0.6787     1     0     5     0
2   3  126  10  0.500080  1100   3  ...  0.2521  0.7258     1     0     5     0
3   4  134  10  0.439874  1100   3  ...  0.2498  0.7119     1     0     5     0
4   5  109   9  0.502749  2900   4  ...  0.2282 -0.5399     0     0     5     0

[5 rows x 771 columns]